<% include partials/header.ejs %>
<body>
    <div class="container-fluid">
       <div class="row" style="padding:5px">
                    <div class="col-sm-2" style="background-color:lavender;">S.No</div>
                    <div class="col-sm-2" style="background-color:lavender;">User Name</div>
                    <div class="col-sm-2" style="background-color:lavender;">First Name</div>
                    <div class="col-sm-2" style="background-color:lavender;">Last Name</div>
                    <div class="col-sm-2" style="background-color:lavender;">Action</div>                    
       </div>
       <% for(var i=0; i<userrecords.length; i++) {%>
                <div class="row"  style="padding:5px">
                    <div class="col-sm-2"><%=i+1%></div>
                    <div class="col-sm-2"><%= userrecords[i].username%></div>
                    <div class="col-sm-2"><%= userrecords[i].firstname%></div>
                    <div class="col-sm-2"><%= userrecords[i].lastname%></div>
                    <div class="col-sm-2">
                        <a href="/users/edit/<%= userrecords[i]._id%>" class="btn btn-info" role="button">Edit</a>
                    </div>
                </div>
        <% }%>
    </div>
        </body>
    </html>